<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content my-5 py-2">
        <!-- Load Content here -->
        <router-outlet></router-outlet>
        <!-- Load Content here -->
    </section>
    <!-- <div *ngIf="showLoadingIndicator" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->