<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-secondary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link text-dark">
        <img src="assets/img/robot.png" alt="School Logo" class="brand-image img-circle elevation-6"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Data Training</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block text-dark">Admin Settings</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link text-dark">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Model Training
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item text-dark">
                            <a href="#" routerLink="./TrainingData/prepareTrainingData" class="nav-link">                              
                                <i class="far fa-circle nav-icon"></i>
                                <p>Prepare Training Data</p>
                            </a>
                        </li>                        
                        
                        <li class="nav-item text-dark">
                            <a href="#" routerLink="./TrainingData/addTrainingData" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Training Data</p>
                            </a>
                        </li>
                        <li class="nav-item text-dark">
                            <a href="#" routerLink="./TrainingData/addSearchKeyword" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Search Keyword</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        
        <!-- /.sidebar-menu -->
    </div>
    <!-- <div class="lds-roller" *ngIf="!showLoadingIndicator">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
    <!-- /.sidebar -->
</aside>