<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title ml-3"> Add Training Data</h3>

        </div>
        <!-- /.card-header -->

        <div class="card-body">

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="comment">comment</label>
                        <input type="text" formControlName="comment" class="form-control" placeholder="comment" />

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="is_positive">Is Positive ?</label>
                        <div class="form-control">
                            <label class="form-check-inline">
                                <input type="checkbox" formControlName="is_positive" />
                            </label>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button class="btn btn-info" type="submit" [disabled]="!createForm.valid">Save</button>

        </div>
        
    </div>

</form>
